@keyframes slideFromBottom {
    0% {
        transform: translate(0, 100vh);
    }
    75% {
        transform: translate(0, 100vh);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes bottomRightToOriginal {
    0% {
      transform: translate(calc(50vw - var(--padding-offset)), calc(50vh - var(--padding-offset))) scale(var(--scale-size));
    }
    50% {
        transform: translate(calc(50vw - var(--padding-offset)), calc(50vh - var(--padding-offset))) scale(var(--scale-size));
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
}

@keyframes bottomToOriginal {
    0% {
      transform: translateY(calc(50vh - var(--padding-offset))) scale(var(--scale-size));
    }
    50% {
        transform: translateY(calc(50vh - var(--padding-offset))) scale(var(--scale-size));
    }
    100% {
      transform: translateY(0) scale(1);
    }
}

@keyframes marqueeEffect {
    0% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(-105%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}