@import url('./reset.css');
@import url('./fonts.css');
@import url('./animations.css');
@import url('./header.css');
@import url('./nav.css');
@import url('./sections.css');
@import url('./text.css');

:root {
  --black: #151515;
  --white: #FFFFFF;
  --primary: #9AF51F;
  --primary-light: #C0FF6C;
  --primary-dark: #64A30F;

  --header-height: 24px;

  font-size: 16px;
  color: var(--white);
  background-color: var(--black);
  height: 100dvh;
}

#root {
  height: 100%;
}

::-moz-selection, ::selection {
  color: var(--black);
  background: var(--primary);
}