.section {
    min-height: calc(100dvh - 75px);
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .section {
        min-height: calc(100dvh - 150px);
    }
}